.todoList {
    list-style: none;
    width: 80%;
    padding-left: 0;
}

.listItem {
    border-top: 1px solid var(--todoborder);
    align-items: baseline !important;
}

.listItem:last-child {
    border-bottom: 1px solid var(--todoborder);
}

.totalTime {
    display: flex;
    color: var(--light-grey-text);
}

.dropdownToggle {
    border: none;
}

.dropdownToggle::after {
    display: none;
}

.todoListValue, .todoListValue:focus-visible {
    border: none;
    outline: none;
    color: var(--dark-grey-text);
    background-color: var(--grey);
    display: flex;
    flex-grow: 1;
}

.todoListValue[readonly] {
    background-color: white;
}

.todoListValueWrap {
    display: flex;
    flex-grow: 1;
    align-self: center;
}

.todoListTimes {
    padding:0 9px;
    border: 1px solid var(--light-border);
    border-radius: 100%;
    margin-right: 10px;
}


.todoListValueForm {
    display: flex;
    flex-grow: 1;
}


.todoMenuArrow {
    /*position: absolute;*/
    font-size: 7px;
    width: 3em;
    height: 3em;
}



.menuButton {
    border: none;
    outline: none;
    color: var(--light-grey-text);
    background-color: transparent;
}


.buttonImg {
    vertical-align: baseline;
}
